/* Estilo geral do site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f1e8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #3d5427;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 38px;
}

header p {
    font-size: 18px;
}

/* Menu de navegação */
nav {
    background-color: #263719;
    padding: 15px;
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

nav a:hover {
    color: #e7c86e;
}

/* Conteúdo principal */
main {
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

main h2 {
    color: #3d5427;
}

main p {
    font-size: 17px;
    line-height: 1.6;
}

/* Rodapé */
footer {
    background-color: #263719;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}main img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

.ficha-tita {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}